<!DOCTYPE html>
<html>
<head>
    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    <h1>Feedback</h1>
    <form action="feedback.php" method="post">
        <input type="hidden" name="user_id" value="<?php echo htmlentities($_GET['user']); ?>">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <a href="index.php">Back to Home</a>
</body>
</html>
